<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <header>
        <%- include('../partials/nav') %>
    </header>
    <body>
        <main>
            <div>
                <% for (post of allpost) {  %>
                    <% console.log(post.post) %>
                    <article>
                        <h4> <%= post.title %></h4>
                        <h5><%= post.post %></h5> 
                        <img src="<%=post.image%>">
                        <div>
                            <!-- edit post button -->
                            <a href="/posts/<%= post._id %>/edit"><i class="fas fa-edit"></i></a>
                            <!-- delete post icon -->
                            <form action="/posts/<%= post._id %>" method="POST">
                                <!-- Use a form to send the DELETE request -->
                                <input type="hidden" name="_method" value="DELETE">
                                <!-- Use a hidden input field to specify the DELETE method -->
                                <button type="submit"><i class="fas fa-trash"></i></button>
                                <!-- Use a button to trigger the form submission -->
                            </form>
                        </div>
                    </article>
                <% } %>
            </div>
            
        </main>
    </body>
</html>